.home_container {
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 6rem;
}

.header_align {
  background: rgba(159, 141, 113, 0.47);
  background: linear-gradient(90deg, rgba(226, 174, 96, 0.537) 0%, rgba(184, 140, 73, 0.326) 100%); ;
}

.article_align {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.home_section_title {
  letter-spacing: 2px;
  font-size: var(--tertiary-color);
}

.services_container {
  background: linear-gradient(90deg, rgba(226, 174, 96, 0.537) 0%, rgba(184, 140, 73, 0.326) 100%);
}

.services_container,
.contact_container {
  padding: 0 10px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.cards_align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
  padding-bottom: 1rem;
}

@media screen and (min-width: 480px) {
  .services_container,
  .contact_container {
    align-items: center;
  }

  .cards_align {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .home_container {
    margin-bottom: 0;
  }
  
  .home_section_title {
    letter-spacing: 4px;
    font-size: 32px;
  }

  .article_align article:nth-child(2) {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .home_section_title {
    letter-spacing: 6px;
    font-size: 38px;
  }

  .article_align {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }

  .services_container,
  .contact_container {
    padding: 3rem 10px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  .cards_align {
    width: 100%;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .cards_align {
    width: 1280px;
    gap: 3rem;
  }
}