.home_container {
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 5rem;
}

.article_align {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

@media screen and (min-width: 768px) {
  .article_align article:nth-child(2) {
    flex-direction: row-reverse;
  }
}