.home_container {
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 6rem;
}

.header_align {
  background-color: #e2ad637d;
}

.article_align {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.home_section_title {
  letter-spacing: 2px;
}

.services_container,
.contact_container {
  padding: 0 10px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.cards_align {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
  padding-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .article_align article:nth-child(2) {
    flex-direction: row-reverse;
  }
}