.header-container {
    height: 65vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    position: relative;
}

.header-man-image {
    height: 75%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    margin-left: 50%;
}

.header-text-content {
    gap: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 2%;
}

.header-text-content h1 {
    font-size: 30px;
    margin-top: 3rem;
}

.header-text-content p {
    width: 60%;
    color: var(--tertiary-color)
}

.header-text-content button {
    position: absolute;
    bottom: 0;
    margin-bottom: 10rem;
}

.header-galileu-icon {
    font-size: 40px;
    border-radius: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
    animation: appears-icon 5s ease-in-out infinite;
}

.header-galileu-desc {
    color: var(--primary-color);
}

@keyframes appears-icon {

    0%,
    65%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}

.bottom-decorative-shape {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    bottom: -15px;
    width: 60px;
    height: 30px;
    border-radius: 50%;
}

.bottom-decorative-shape svg {
    color: var(--secondary-color);
}

@media screen and (min-width: 480px) {
    .header-man-image {
        height: 78%;
        margin-left: 40%;
    }

    .logo-content {
        opacity: 0;
    }

    .header-text-content {
        padding-left: 0;
    }

    .header-text-content h1 {
        font-size: 34px;
        margin-top: 2rem;
    }

    .header-text-content p {
        font-size: 20px;
    }

    .header-text-content button {
        margin-bottom: 11rem;
    }
}

@media screen and (min-width: 768px) {
    .header-container {
        height: 70vh;
    }

    .header-man-image {
        height: 85%;
        margin-left: 50%;
    }

    .header-text-content {
        padding-left: 0;
        margin: 5% 30% 0 0;
    }

    .header-text-content h1 {
        font-size: 42px;
    }

    .header-text-content p {
        font-size: 22px;
    }

    .header-text-content button {
        margin-bottom: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .header-container {
        height: 80vh;
    }

    .header-man-image {
        height: 85%;
        margin-left: 40%;
    }

    .header-text-content h1 {
        font-size: 48px;
    }

    .header-text-content p:first-of-type {
        font-size: 24px;
        margin-top: 1rem;
    }

    .header-text-content button {
        margin-bottom: 10rem;
    }
}

@media screen and (min-width: 1280px) {
    .header-container {
        height: 80vh;
        max-width: 1280px;
        margin: 0 auto;
    }

    .header-man-image {
        height: 88%;
        margin-left: 40%;
    }

    .header-text-content h1 {
        font-size: 50px;
    }

    .header-text-content button {
        margin-bottom: 9rem;
    }
}