.align-logo-header {
    width: 100vw;
    text-align: center;
}

@media screen and (min-width: 480px){
    .align-logo-header {
        display: none;
    }
}

.header-logo-image {
    width: auto;
    height: 100px;
    object-fit: contain;
    margin: 5% auto 0;
}

.header-container {
    height: 65vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    position: relative;
}

.header-man-image {
    height: 75%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    margin-left: 70%;
}

.header-text-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    gap: 15%;
    padding-left: 2%;
}

.header-text-content button {
    margin-top: 5%;
}

.header-galileu-icon {
    width: 310px;
    font-size: 26px;
    border-radius: 100%;
    display: flex;
    color: var(--tertiary-color);
    animation: appears-icon 5s ease-in-out infinite;
}

.header-galileu-desc {
    color: var(--tertiary-color);
    opacity: 0.8;
    font-size: 16px;
        width: 70%;
}

@keyframes appears-icon {

    0%,
    65%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}

.bottom-decorative-shape {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    bottom: -15px;
    width: 60px;
    height: 30px;
    border-radius: 50%;
}

.bottom-decorative-shape svg {
    color: var(--secondary-color);
}

@media screen and (min-width: 480px) {
    .header-man-image {
        height: 80%;
        margin-left: 80%;
    }

    .logo-content {
        opacity: 0;
    }

    .header-text-content {
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        gap: 10%;
        margin-top: 20%;
        width: 100%;
    }

    .header-galileu-icon {
        width: 400px;
        font-size: 32px;
        margin-top: 2rem;
    }

    .header-galileu-desc {
        font-size: 18px;
        width: 300px;
    }
}

@media screen and (min-width: 560px) {
    .header-man-image {
        height: 80%;
        margin-left: 80%;
    }

    .header-text-content {
        padding-left: 5%;
        height: 100%;
        margin: 15% 0;
    }

    .header-galileu-icon {
        font-size: 38px;
        width: 500px;
    }
}

@media screen and (min-width: 768px) {
    .header-container {
        height: 70vh;
    }

    .header-man-image {
        height: 85%;
        margin-left: 50%;
    }

    .header-text-content {
        padding-left: 5%;
        height: 100%;
        margin: 10% 0;
    }

    .header-text-content h1 {
        font-size: 42px;
    }

    .header-text-content p {
        font-size: 22px;
    }

    .header-text-content button {
        margin-bottom: 30%;
    }
}

@media screen and (min-width: 1024px) {
    .header-container {
        height: 80vh;
    }

    .header-man-image {
        height: 85%;
        margin-left: 40%;
    }

    .header-text-content {
        padding-left: 5%;
        height: 100%;
        margin: 15% 0;
    }

    .header-text-content h1 {
        font-size: 48px;
        width: 600px;
    }

    .header-text-content p:first-of-type {
        width: 400px;
        font-size: 24px;
    }

    .header-text-content button {
        margin-bottom: 10rem;
    }
}

@media screen and (min-width: 1280px) {
    .header-container {
        height: 80vh;
        max-width: 1280px;
        margin: 0 auto;
    }

    .header-man-image {
        height: 88%;
        margin-left: 40%;
    }

    .header-text-content {
        padding-left: 5%;
        height: 100%;
        margin-top: 10%;
    }

    .header-text-content h1 {
        font-size: 50px;
    }

    .header-text-content button {
        margin-bottom: 9rem;
    }
}