.navbar-container-mobile {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary-color);
    z-index: 999;
    bottom: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 10px 0px;
}

.navbar-container-mobile h1 {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 5px;
}

.navbar-content-list-mobile {
    width: 90%;
    margin: 0 auto;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--tertiary-color);
}

.navbar-list-item svg {
    font-size: 28px;
}

.navbar-item-name {
    font-size: 12px;
    font-weight: 700;
}

.navbar-active {
    color: var(--secondary-color);
}

@media screen and (min-width: 480px) {
    .navbar-container-mobile {
        display: none;
    }
}

/* TOP NAVIGATION  */
.navbar-container-top {
    display: none;
    align-items: center;
    position: fixed;
    width: 100vw;
    padding: 2% 5%;
    background-color: transparent;
    z-index: 999;
    transition: all 200ms ease-in-out;
}

.logo-image {
    width: 200px;
    height: 100%;
    object-fit: contain;
}

.navbar-top-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #33333350
}

.align-navbar-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.align-navbar-content svg {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 38px;
}

.align-navbar-content .navbar-content-list{
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    gap: calc(5% + 20px);
    padding-top: 5%;
    background-color: var(--primary-color);
}

.align-navbar-content .navbar-content-list li {
    font-size: calc(20px + 50%);
    font-weight: 600;
    color: var(--tertiary-color);
}

.align-navbar-content .active-top-bar {
    display: flex;
}

@media screen and (min-width: 480px) {
    .navbar-container-top {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 680px) {
    .navbar-container-top {
        height: 5rem;
    }

    .align-navbar-content svg {
        display: none;
    }

    .align-navbar-content .navbar-content-list{
        width: 400px;
        height: 100%;
        position: static;
        display: flex;
        flex-direction: row;
        gap: 8%;
        padding: 0;
        justify-content: center;
        background-color: transparent;
    }

    .align-navbar-content .navbar-content-list li {
        font-size: 22px;
        color: var(--primary-color);
    }
}
